<h1>Contactez Nous!</h1>

<div class="container">
    <form class="form-horizontal col-md-5" action=" " method="post" id="contact_form" style="float: left; padding-top: 50px; padding-bottom: 30px;">
        <fieldset>

            <div class="form-group">
                <div class="inputGroupContainer col-md-10" style="float: right">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user bigicon"></i></span>
                        <input name="Nom" placeholder="Nom" class="form-control" type="text">
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="inputGroupContainer col-md-10" style="float: right">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user bigicon"></i></span>
                        <input name="Prenom" placeholder="Prénom" class="form-control" type="text">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="inputGroupContainer col-md-10" style="float: right">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope bigicon"></i></span>
                        <input name="Email" placeholder="E-Mail" class="form-control" type="text">
                    </div>
                </div>
            </div>



            <div class="form-group">
                <div class="inputGroupContainer col-md-10" style="float: right">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone bigicon"></i></span>
                        <input name="Telephone" placeholder="Téléphone" class="form-control" type="text">
                    </div>
                </div>
            </div>

        </fieldset>
    </form>

    <form class="form-horizontal col-md-6" action=" " method="post" id="contact_form" style="float: right; padding-top: 20px; padding-bottom: 30px;">
        <fieldset>

            <div class="form-group">
                <div class="inputGroupContainer col-md-12">
                    <div class="input-group" style="padding-top: 27px;">
                        <span class="input-group-addon"><i class="fa fa-pencil bigicon"></i></span>
                        <textarea class="form-control col-md-10" name="comment" placeholder="Message" rows="8"></textarea>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>

    <form class="form-horizontal col-md-12" action=" " method="post" id="contact_form">
        <fieldset>

            <div class="form-group">
                <label class="control-label col-md-11" style="text-align: center;">Etes vous clients chez nous?</label>
                <div>
                    <div class="radio col-md-5" style="float: left; text-align: right; margin-left: 40px;">
                        <label>
                          <input type="radio" name="hosting" value="oui" /> Oui
                        </label>
                    </div>
                    <div class="radio col-md-6" style="float: right; text-align: left; margin-right: 50px;">
                        <label>
                          <input type="radio" name="hosting" value="non" /> Non
                        </label>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>

</div>

<div class="form-group" id="button">
    <label class="control-label"></label>
    <button type="submit" class="btn btn-warning">Envoyer <span class="fa fa-send bigicon"></span></button>
</div>

<section class="contact">
    <contact></contact>
</section>
