<mininavbar edit-mode="$ctrl.editMode" ng-model="$ctrl.page"></mininavbar>
<section class="assistance">
    <div class="intro-assistance">
        <div class="container text-center">
            <h1 class="intro-title text-center" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.assistancetitle"></h1>
        </div>
    </div>
    <div class="container">
        <div class="espassistance row">
            <div class="col-sm-6 col-sm-offset-3 white-bg">
                <p class="subtitle text-center" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.assistance"></p>
                <p class="inline" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.assistancetext"></p>
                <div class="inputGroupContainer text-center">
                    <a href="https://get.teamviewer.com/qsallset" target="_blank">
                        <button class="btn">
                            <!-- <div class="inline" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.assistancebutton"></div> -->
                            Accéder à l'assistance
                            <i class="fa fa-laptop fa-lg"></i>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="assistance">
    <contact edit-mode="$ctrl.editMode" ng-model="$ctrl.page.content.contact"></contact>
</section>
