<mininavbar edit-mode="$ctrl.editMode" ng-model="$ctrl.page"></mininavbar>
<div class="container-fluid text-center" style="background: white" id="testi">

  <div class="intro-title" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.title"></div>
  <!-- <div class="intro-title" ng-bind-html="$ctrl.selectedApropos.title"> </div> -->

    <div id="commune">

      <img class="img-responsive" ng-src="img/{{$ctrl.page.name}}.jpg" />

        <div class="block">
          <p class="subtitle" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.subtitle1"></p>
          <!-- <p class="subtitle" ng-bind-html="$ctrl.selectedApropos.subtitle"> </p> -->
          <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.text1"></p>
            <!-- <p ng-bind-html="$ctrl.selectedApropos.texte"></p> -->

            <!-- <p class="subtitle" ng-bind-html="$ctrl.selectedApropos.subtitle1"> </p> -->
            <!-- <p ng-bind-html="$ctrl.selectedApropos.texte1"> </p> -->

            <!-- <p class="subtitle" ng-bind-html="$ctrl.selectedApropos.subtitle2"> </p> -->
            <!-- <p ng-bind-html="$ctrl.selectedApropos.texte2"> </p> -->

            <hr>

            <!-- On Arrive ici à la page commune pour les 3 sections à propos -->

            <h2 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.title1"></h2>
            <!-- <h2>Agents Commerciaux et partenaires </h2> -->
            <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.text2"></p>
            <!-- <p>Vous contribuez régulièrement à des projets informatiques ou souhaitez profiter des opportunités de ce marché pour développer votre activité ? <br><br> AllSet vous ouvre les portes d'une communauté dynamique, au sein de laquelle vous pourrez
                pleinement développer votre business.</p> -->

            <!-- <h3>Nos solutions vous intéressent?</h3> -->
            <!-- <p>AllSet fournit aux entreprises l'expertise pour vendre, gérer, intégrer et planifier des solutions Allset destinées à leurs clients.</p> -->
            <!-- <h3>Qui peut devenir partenaire ?</h3> -->
            <!-- <ul>
                <li>Des entreprises à la recherche d'un partenaire informatique pour la distribution de nos produits et services,</li>
                <li>Des agents commerciaux en recherche d'une compétence globale dans le secteur de l'informatique (Serveur, ordinateur, téléphone IP, configuration, services...).
                </li>
            </ul>
            <p>AllSet apporte une solution globale pour vos clients, un nouveau catalogue complet dans la fourniture et le service informatique.</p>
            <p> C'est dans le même esprit que AllSet vous propose aujourd'hui de devenir partenaire.<br> En associant votre connaissance des clients et de leurs Systèmes d'Information à l'expertise d'AllSet.</p>

            <p> Pour plus d'information, n'hésitez pas à nous<a ui-sref="app.form"> contacter</a>.</p>-->



        </div>

    </div>
</div>
