<div class="container" id="aproposhome">
    <div class="apropos" id="apropos">
        <h1> Qui sommes nous ?  </h1>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h4> Notre Métier </h4>
                <p> Spécialiste des systèmes et réseaux, AllSet vous accompagne dans la
                   gestion des changements et dans la gestion d'exploitation de votre système d'information. </p>
                <!-- <button ui-sref="app.lesapropos({ lesaproposUrl: 'notre-metier' })" class="btn btn-default center-block"> Consulter </button> -->
            </div>
            <div class="col-xs-12 col-sm-4">
                <h4> Nos Démarches </h4>
                <p> Les prestations proposées s'adaptent aux besoins de chaque client.</p>
                <!-- <button ui-sref="app.lesapropos({ lesaproposUrl: 'nos-demarches' })" class="btn btn-default center-block"> Consulter </button> -->
            </div>
            <div class="col-xs-12 col-sm-4">
                <h4> Notre Organisation </h4>
                <p>Les Fondateurs de notre société, AllSet, bénéficient de plus de 20 ans d'expérience cumulée en gestion et en réalisation de projets informatiques.</p>
                <!-- <button ui-sref="app.lesapropos({ lesaproposUrl: 'notre-organisation' })" class="btn btn-default center-block"> Consulter </button> -->
            </div>
        </div>

    <div class="row" id="button">
      <div class="col-xs-12 col-sm-4">
        <button ui-sref="app.lesapropos({ lesaproposUrl: 'notre-metier' })" class="btn btn-default center-block"> Consulter </button>

      </div>
      <div class="col-xs-12 col-sm-4">
        <button ui-sref="app.lesapropos({ lesaproposUrl: 'nos-demarches' })" class="btn btn-default center-block"> Consulter </button>

      </div>
      <div class="col-xs-12 col-sm-4">
        <button ui-sref="app.lesapropos({ lesaproposUrl: 'notre-organisation' })" class="btn btn-default center-block"> Consulter </button>
      </div>
    </div>
</div>
</div>
<!-- div class="container" -->
