<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <p> E-mail : <a href="mailto:contact@allset.fr"> contact@allset.fr </a></p>
    </div>
    <div class="col-xs-4 text-center">
      <p> Tel :  +33 (1) 49 38 12 20  </p>
    </div>
    <div class="col-ws-4 text-right" >
    <a href="#" class="btn btn-primary" role="button" target="_blank" ><i class="fa fa-laptop fa-lg" aria-hidden="true"></i> Assistance </a>
    </div>
  </div>


    <!-- <span>{{'COMMON_BY' | translate}} Sébastien, Paul & Vivien</span> -->
</div>
