<div class="myservice" style="background: url({{$ctrl.selectedService.image}}) no-repeat !important; background-size: contain !important;">
    <h1 class="intro-title text-center" ng-bind-html="$ctrl.selectedService.title"></h1>
    <div class="container">
        <br />
        <p class="subtitle text text-article" ng-bind-html="$ctrl.selectedService.subtitle" class="text-left"></p>
        <div class="text-article">
            <p ng-bind-html="$ctrl.selectedService.texte" class="text-left"></p>
        </div>
    </div>


</div>
