<mininavbar edit-mode="$ctrl.editMode" ng-model="$ctrl.page"></mininavbar>
<div class="myservice" style="background-image: url(img/{{$ctrl.page.name}}.jpg)">
    <h1 class="intro-title text-center" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.title"></h1>
    <div class="container">
        <br />
        <p class="subtitle text text-article text-left" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.subtitle"></p>
        <div class="text-article">
            <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.text" class="text-left"></p>
        </div>
    </div>


</div>
