<div class="references">
    <div class="container text-center references-title">
        <h2 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.ngModel.title">
            {{$ctrl.ngModel.title}}
        </h2>
    </div>
    <div class="container">
        <div class="row">
            <slick dots="false" infinite="true" speed="300" slides-to-show="4" touch-move="true" autoplay="true" slides-to-scroll="1">
                <div class="col-xs-3 text-center" ng-repeat="reference in references">
                    <img ng-src="{{reference.image}}" alt="{{reference.name}}"/>
                </div>
            </slick>
        </div>
    </div>
</div>
