<div class="services">
    <div class="container text-center">
        <h1 class="intro-title">
            Que faisons nous ?
        </h1>
        <p class="subtitle text">
            Découvrez nos Services et Solutions
        </p>
    </div>
</div>
<div class="container">
    <div class="row concepts">
        <a ui-sref="app.myservices({ myserviceUrl: 'allset-cabling-and-security' })"><card class="col-sm-4"/></a>
        <a ui-sref="app.myservices({ myserviceUrl: 'allset-integrateur-de-service' })"><card class="col-sm-4"/></a>
        <a ui-sref="app.myservices({ myserviceUrl: 'allset-telecom-et-hebergement' })"><card class="col-sm-4"/></a>
    </div>
    <div class="row concepts">
        <a ui-sref="app.myservices({ myserviceUrl: 'urban-service-network' })"><card class="col-sm-4 col-sm-offset-4"/></a>
    </div>
</div>
