<div class="services">
    <div class="container text-center">
        <h1 class="intro-title">
            Que faisons nous ?
        </h1>
        <p class="subtitle text">
            Découvrez nos Services et Solutions
        </p>
    </div>
</div>
<div class="container">
    <div class="row concepts">
        <card class="col-sm-4"/>
        <card class="col-sm-4"/>
        <card class="col-sm-4"/>
    </div>
    <div class="row concepts">
        <card class="col-sm-4 col-sm-offset-4"/>
    </div>
</div>
