<mininavbar edit-mode="$ctrl.editMode" ng-model="$ctrl.page"></mininavbar>
<section class="assistance">
    <div class="intro-assistance">
        <div class="container text-center">
            <h1 class="intro-title text-center" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.admintitle"></h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p class="subtitle text text-center" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.adminsubtitle"></p>
                <div class="form-group">
                    <div class="inputGroupContainer col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-user bigicon"></i>
                            </span>
                            <input name="email" placeholder="Email" ng-model="$ctrl.user.email" class="form-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="inputGroupContainer col-md-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                            <input name="password" placeholder="Mot de Passe" ng-model="$ctrl.user.password" class="form-control" type="password">
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn" ng-click="$ctrl.connect()">Se Connecter
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </button>
                    <br/>
                </div>
                <div class="text-center disconnect" ng-if="$ctrl.user.isAdmin">
                    <button class="btn" ng-click="$ctrl.disconnect()">Se Déconnecter
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
