<mininavbar edit-mode="$ctrl.editMode" ng-model="$ctrl.page"></mininavbar>
<section>
    <div class="intro">
        <div class="container text-center">
            <h1 class="intro-title">

              <img src="img/logo-allset.png">

            </h1>
            <!-- <p class="subtitle text">Unleash Your Data</p> -->
        </div>
    </div>
</section>

<!-- <section>
    <apropo edit-mode="$ctrl.editMode" ng-model="$ctrl.page.content.apropo"></apropo>
</section> -->

<!-- <section>
    <services></services>
    <hr/>
</section> -->

<!-- <section class="engagement">
<div class="container">
    <div class="row">


        <div class="col-sm-6 enga">
            <img src="../img/engagement1.jpg" class="img-responsive" alt="">
        </div>

        <div class="col-sm-6">
            <h3><i class="fa fa-circle-o" aria-hidden="true"></i><span inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.title"> {{$ctrl.page.content.title}}</span></h3>
            <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.p">
              {{$ctrl.page.content.p}}
            </p>

        </div>

    </div>
</div>

</section> -->

<section>
    <references></references>
</section>

<section class="contact">
    <contact> </contact>
</section>
