@import 'colors';
/* container */
app > .container {
    padding-bottom: 60px;
}
/* footer */
footer {
    background-color: $footer;
    position: static;
    height: 60px;
    color: $white !important;
}
.footer p {
    margin-top: 17px !important;

}
.footer .btn {
  background-color: $button;
  margin-top: 12px !important;
  color: $white !important;
}

.footer > .container > span > a,
.footer > .container > span > a:hover,
.footer > .container > span > a:visited {
    color: $white;
}
