@import 'colors';
/* container */
// app > .container {
//     padding-bottom: 60px;
// }
/* footer */
footer {
    background-color: $footer;
    text-align: center;
    bottom: 0;
    color: $white !important;
}

.footer {
    p {
        margin-top: 0.8em !important;
        border-right: 1px solid #fff;
    }

    a {
        color: $white !important;
    }

    .btn {
        background-color: $button;
        margin-top: 0.3em !important;
        color: $white !important;
    }
}

.footer > .container > span > a,
.footer > .container > span > a:hover,
.footer > .container > span > a:visited {
    color: $white;
}
