@import 'colors';

#aproposhome {
    padding: 0 0 6em;
  //  background-color: rgb(198,215,228);
    h1,
    h4 {
        text-align: center;
        color: rgb(3,34,48);
        display: block;
    }

    p {
        text-align: justify;;
    }

}
#testi {
  padding:0;
}
#commune {

    font-size: 20px;
    padding: 0 0 6em ;


    .block {
      margin: 6em auto;
      width: 700px;
      display: block;
    }

    h2, h3 {
        padding: 2em;
    }

    ul:first-child{
      padding:2em;
    }

    p {
        text-align: justify;

    }
    .subtitle {
      text-align: center;
    //  padding: 2em;
    }
    img {

      padding-top: 5em;
      height: 30em;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
    }
}
