@import 'colors';
/* cards */
.cards {
    margin-top: 10px;
}
@media (min-width: 992px) {
    .card.col-lg-3,
    .card.col-md-3 {
        width: 24%;
    }
}
@media (min-width: 768px) and (max-width:991px) {
    .card.col-sm-4 {
        width: 32%;
    }

    .card.col-sm-12 {
        width: 98%;
        margin: 1% 1% 0;
    }
}
@media (max-width: 767px) {
    .card.col-xs-12 {
        width: 98%;
        margin: 1% 1% 0;
    }
}

.card {
    background: $white-transparent;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    min-height: 85px;
    border: 2px solid $white;
    margin: 10% 1% 0 0;
    padding: 20px;
    border-bottom: 5px solid $primary;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: translateY(0px);
    -ms-transition: all 200ms ease-in;
    -ms-transform: translateY(0px);
    -moz-transition: all 200ms ease-in;
    -moz-transform: translateY(0px);
    transition: all 200ms ease-in;
    transform: translateY(0px);

    h4 {
        color: rgb(79,79,79);
        margin: 25px;
        font-family: Poppins;
        font-size: 22px;
        line-height: 35px;
        letter-spacing: 0;
        font-weight: 600;
    }
}

.card:hover {
    box-shadow: 3px 3px 15px gray;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: translateY(-5px);
    -ms-transition: all 200ms ease-in;
    -ms-transform: translateY(-5px);
    -moz-transition: all 200ms ease-in;
    -moz-transform: translateY(-5px);
    transition: all 200ms ease-in;
    transform: translateY(-5px);
    background: $white;
}

.card.hover:hover {
    background-color: $gray;
    cursor: pointer;
    border: 2px solid $gray;
}

.card.selected {
    border: 2px solid $primary;
}

.card > .btn {
    position: absolute;
    width: 36px;
    border-radius: 50%;
    top: -15px;
    right: 10px;
}

.card-content {
    padding: 20px;
}

.card-content > div > img {
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.card-content > div > .ico {
    font-size: 30px;
    color: $secondary;
}
/* icon */
.card > .icon {
    color: $gray;
    text-align: center;
    font-size: 55px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    margin-top: 10px;
    display: inline-block;
}

.concepts {
    margin-top: -15%;
    margin-bottom: 5%;
}
