@import 'colors';

#contact {
    padding: 50px 0;
}

#contact i {
    color: rgb(87, 187, 137);
}

#contact p {
    line-height: 200%;
}

#contact li {
    line-height: 170%;
}

.contactpic {
    // background-image: url('../img/paris.jpg');
    background-position: center;
}

.contact {
    margin: 30px 0 0; //  text-align: center
}

#map {
    height: 400px;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}

.infoWindowContent {
    font-size: 14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#class,
a {
    text-align: center;
}
// modifs vivien under this line

#success_message {
    display: none;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    color: #00b5ad;
  }

#button {
    text-align: center;
}

#ptel {
    text-align: center;
    font-size: 120%
}

#dtell {
    float: left;
    padding-left: 30%;
    font-size: 170%;
    padding-top: 5px;
    padding-bottom: 10px;
}

#dtell:hover {
    color: #00b5ad;
    text-transform: full-width;
}

#dtelr {
    float: right;
    padding-right: 30%;
    font-size: 170%;
    padding-top: 5px;
    padding-bottom: 10px;
  }

#dtelr:hover {
    color: #00b5ad;
    text-transform: full-width;
}
