@import 'colors';



#zdt {
    padding: 25px;
}

#button {
    padding-top: 10px;
    padding-bottom: 5px;
}
.contact {
//  background-color: rgb(73,147,243) !important;

}
#contact {
    font-family: andale mono;
    padding: 50px 0;
    color: black;
    letter-spacing: 1px;
    h2 {
        color:rgb(40,100,180) !important;
        padding: 20px;
        font-family: andale mono;
    }

    i {
        color: rgb(73,147,243); // rgb(87, 187, 137)
    }

    p {
        line-height: 200%;
        font-size: 17px;
    }

    li {
        line-height: 170%;
    }
}

.contactpic {
    // background-image: url('../img/paris.jpg');
    background-position: center;
}

.contact {
    margin: 30px 0 0; //  text-align: center
}

#map {
    height: 400px;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}

.infoWindowContent {
    font-size: 14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#class,
a {
    text-align: center;
}
