@import 'colors';

#contact {
    padding: 50px 0;
}

.ng-invalid.ng-dirty {
    border-color: red !important;
}

.ng-valid.ng-dirty {
    border-color: green !important;
}

#button {
    padding-top: 10px;
    padding-bottom: 5px;
}

.contact {
    background: rgba(12,13,14, 0.8) url("../img/Contact.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    //  padding: 2em;
}

#contact {
    font-family: andale mono;
    padding: 2em;
    color: white !important;
  //  letter-spacing: 1px;
    background-color: rgba(12,13,14, 0.8) !important;
    height: 49em;
    //  margin: -2em; // Permet une full background-color:rgba(12,13,14, 0.8)

    h2 {
        color: rgb(40,100,180) !important;
        padding: 0 0 2em;
        font-family: andale mono;
    }

    i {
        color: rgb(73,147,243); // rgb(87, 187, 137)
    }

    p {
        line-height: 200%;
        font-size: 14px;
    }

    li {
        line-height: 170%;
    }

    .service {
        padding: 2em 0 0;
    }

    a {
        color: grey;
    }
}

#map {
    height: 460px;
    overflow: hidden;
    padding-bottom: 22.25%;
    position: relative;
    width: auto;
    border: 2px white solid !important;
    @media (max-width: 767px) {
        height: 260px;
    }
}

.map {
    margin: 0 0 0 -1em;

}

.infoWindowContent {
    font-size: 14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#class,
a {
    text-align: center;
}

// modifs vivien under this line

#success_message {
    display: none;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    color: #00b5ad;
  }

#button {
    text-align: center;
}

#ptel {
    text-align: center;
    font-size: 120%
}

#dtell {
    float: left;
    padding-left: 30%;
    font-size: 170%;
    padding-top: 5px;
    padding-bottom: 10px;
}

#dtell:hover {
    color: #00b5ad;
    text-transform: full-width;
}

#dtelr {
    float: right;
    padding-right: 30%;
    font-size: 170%;
    padding-top: 5px;
    padding-bottom: 10px;
  }

#dtelr:hover {
    color: #00b5ad;
    text-transform: full-width;
}
