@import 'colors';
/* intro */
.intro {

    background-image:  url('../img/homepagepic.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    min-height: 40em;
}

.intro-title {
    margin-top: 200px;
    color: #455a64;
    font-size: 45px;

}

.subtitle {
    color: $text-default;
    font-size: 20px;
}

.references-title {
    color: $text-title;
}

.references {
    background-color: $white;
    padding: 30px 0;
    height: 22em;

    div {
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: translateY(0px);
        -ms-transition: all 200ms ease-in;
        -ms-transform: translateY(0px);
        -moz-transition: all 200ms ease-in;
        -moz-transform: translateY(0px);
        transition: all 200ms ease-in;
        transform: translateY(0px);
        height: 80px;

        div {
          div{
            div{
              :hover:not(img) {
                  box-shadow: 1px 1px 3px gray;
                  z-index: 2;
                  -webkit-transition: all 200ms ease-in;
                  -webkit-transform: translateY(-2px);
                  -ms-transition: all 200ms ease-in;
                  -ms-transform: translateY(-2px);
                  -moz-transition: all 200ms ease-in;
                  -moz-transform: translateY(-2px);
                  transition: all 200ms ease-in;
                  transform: translateY(-2px);
              }
            }
          }
        }
    }
    img {
        filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
    }
    @media (max-width: 768px){
        img {
            height: 1.5em;
            margin: auto;
        }
    }
    @media (min-width: 768px){
        img {
            height: 2.5em;
            margin: auto;
        }
    }
    .row {
      padding-top: 45px;
    }

}

.engagement {
  //  height: 40em;
   //background-image: url("../img/engagement1.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding: 1em;
    //height: 30em;
}
.enga img {
  width: auto;
  //height: 25em;
}
.apropos {
  padding: 30px;
  height: 30em;
        h1 {
          padding-bottom: 80px;
        }

}
.img-responsive{
  margin: auto;
}
