@import 'colors';
/* navbar */
.navbar {
    //background-color: $primary;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0;
}

.navbar-nav > li > a {
    line-height: 30px;
}

.btn {
    color: $white !important;
    // background-color: $button !important;  //m^ coleur que le btn footer
}

.bta {
  background-color: $primary;
}
.bta:hover {
  background-color: $white;

}


.navbar-nav > .open > a,
.navbar-nav > li > a:hover {
    color: $primary !important;
    border-bottom: 2px solid #4DBF9A;
}

.navbar-nav > .selected:not(:first-child):not(:last-child) > a {
  color: $primary !important;
  border-bottom: 2px solid #4DBF9A;

}

.navbar-nav > li > a > img.circle {
    border-radius: 50%;
    height: 30px;
}

.navbar-default .navbar-toggle .icon-bar,
button.navbar-default,
button.navbar-toggle:hover {
    background-color: $white !important;
}

button.navbar-default > .icon-bar,
button.navbar-toggle:hover > .icon-bar {
    background-color: $primary !important;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $white;
    }
}

.navbar-default .navbar-toggle {
    border-color: $white;
}

.mininavbar {
    background-color: $footer;
    color: $white;
    font-size: 12px;
    padding-top: 3px;

    .btn-info {
        background-color: $button;
        padding: 0 15px;
    }
}

#fixed-bottom {
    bottom: 0;
    right: 3px;
    position: fixed;
    z-index: 9999999;

    .btn-info {
        padding: 10px 20px;
        font-size: 18px;
        background-color: $button;
    }
}
