@import 'colors';

.services {
    background-image: url(https://images.unsplash.com/1/macbook-air-iphone-moleskin.jpg?dpr=1&auto=format&crop=entropy&fit=crop&w=1199&h=784&q=80&cs=tinysrgb);
    background-size: cover;
    min-height: 400px;
    background-position: center;
}
