@import 'colors';

.intro {
    height: 400px;
}

.services {
    min-height: 400px;
    display: block;
    position: relative;
    padding: 30px;

    h1,
    h4 {
        text-align: center;
        //color: #032230;
        color: white;
        text-shadow: 1px 1px 1px black;
        z-index: 2;
    }
}

.services::after {
    content: "";
    background: url("../img/data-center.jpg");
    background-size: cover;
    background-position: center;
    //opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
    filter: saturate(50%);
    -webkit-filter: saturate(50%);
    -moz-filter: saturate(50%);
}

.myservice {
    background-repeat: no-repeat !important;
    background-color: white;
    padding: 30px;

    h1 {
        color: white;
        padding: 10%;
        text-shadow: 1px 1px 5px black;
    }

    .container {
        background-color: white;
    }

    .img-container {
        height: 25em;
    }
    @media (min-width : 769px) {
        .text-article {
            width: 700px;
        }
    }
    @media (max-width : 768px) {
        .text-article {
            max-width: 20em;
        }
    }

    .text-article {
        margin: 5% auto;

        p {
            text-align: justify;
            font-size: 20px;
            font-weight: 300;
        }
    }
}

.two {
    margin-top: -5%;
}

.white-bg{
  background-color: $white;
}
