@import 'colors';

.intro {
    height: 400px;
}

.services {
    min-height: 400px;
    display: block;
    position: relative;
    padding: 30px;

    h1,
    h4 {
        text-align: center;
        color: #032230;
    }
}

.services::after {
    content: "";
    background: url("../img/agree.jpg");
    background-size: cover;
    background-position: center;
    //opacity: 0.65;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.myservice {
    background-repeat: no-repeat !important;
    background-color: white;
    padding: 30px;

    h1 {
        color: white;

        text-shadow: 1px 1px 5px black;
    }

    .container {
        background-color: white;
    }

    .img-container {
        height: 25em;
    }

    .text-article {
        width: 700px;
        margin: 5% auto;

        p {
            text-align: justify;
            font-size: 20px;
            font-weight: 300;
        }
    }
}
